.container {
    max-width: 140px;
    width: 100%;
    margin: auto;
    height: 100vh;    
    background-color: #000000;
    padding: 40 100 40 100;
    display: flex;
    &_card {
        max-width: 585px;
        min-height: 690px;
        background-color: #000000;
        display: flex;        
        flex-wrap: wrap;  
    }   
}
nav {
    max-width: 585px;
    min-height: 690px;
    background-color: #000000;
    margin: 5px;
    display: flex;
    align-content: center;
}
link {
    margin: 5px;
}
.logo {
    max-width: 90px;
    min-height: 40px;
    margin: 5px;
    display: flex;
}
.image {
    max-width: 585px;
    min-height: 690px;
    margin: 5px;        
    display: flex;
}