* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 100vh;    
    background-color: #000000;
    padding: 15 30 15 30;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 5px solid red;
    &_card {
        width: 585px;
        max-width: 585px;
        min-height: 500px;
        margin: auto;
        background-color: #000000;
        position: relative;
        display: flex;             
        flex-wrap: wrap;
        border: 5px solid blue;  
    }   
}
header {
    width: 585px;
    max-width: 585px;
    height: 40px;
    background-color: #000000;
    margin: 5px;
    position: relative;
    display: flex;    
    align-content: center; 
    border: 5px solid pink;
}
nav {
    max-width: 585px;
    height: 90px;
    background-color: #000000;
    margin: 5px;
    display: flex;
    align-content: center;
    
}
link {
    margin: 5px;
}
.logo {
    width: 70px;
    height: 32px;
    margin: 5px;
    display: flex;
}
.image {
    max-width: 585px;
    min-height: 690px;
    margin: 5px;        
    display: flex;
}